# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
venv/
env/
.env
*.egg

# Launcher runtime
python/
portablemc_bin/
PortableMCLoader.exe
*.tmp
*.log

# User data and game files
mods/
resourcepacks/
servers.dat
options.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# GitHub Actions
*.pyc
